@import "./../../../App.scss";


.priceContainer{
  width: 100%;
  padding: 30px 100px;
  @include tablet{
    padding: 30px 30px;
  }
  .priceTitle{
    text-align: center;
    margin-bottom: 50px;
    @include mobile{
      margin-bottom: 20px;
        }
    h3{
        color: #1eb2a6;
        letter-spacing: 1px;
        margin-bottom: 20px;
        @include mobile{
          margin-bottom: 15px;
            }
    }
    h1{
        font-size: 45px;
        font-weight: 500;
        @include mobile{
          font-size: 30px;
   }
    }
  }
  .priceCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .priceCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        background: white;
        padding: 30px 20px;
        margin-bottom: 20px;
        border-radius: 5px;
                  
           .priceName{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 18px;
                text-align: center;
            }
            .amount{
                span{
                    display: inline-block;
                    font-size: 20px;
                    color: #000;
                    font-weight: 800;
                }
                font-size: 50px;
                color: #1eb2a6;
                font-weight: 500;
                text-align: center;
            }
            .priceDetails{
                color: #8c9b9a;
                font-size: 18px;
                line-height: 25px;
                margin: 20px 0;

            }
            .priceBtn{
                color: #1eb2a6;
                border: 2px solid #1eb2a6;
                padding: 15px 30px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 15px;

            }


}
  }

}

.pade{
  padding: 100px 100px;
  padding-bottom: 100px;
  @include tablet{
    padding: 30px 30px;
  }
}
